@import "./src/scss/base/variables";
@import "./src/scss/base/_mixins";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 420px;
  margin: 0 auto 15px;
}

.intro--small {
  width: 100px;
  height: 100px;
}

.intro__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
}

.intro__desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.intro__image-wrap {
  max-width: 300px;
}

@include down($mobile) {
  .intro__image-wrap {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
  }
}
