@import "./../../scss/base/variables";
@import "./../../scss/base/_mixins";

.field {
  padding: 16px 20px;
  background: $accent-light;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 500;
  color: $text-dark !important; // Chrome autocomplete fix
  width: 100%;
  transition: 0.3s;
  border-radius: 16px;
  box-shadow: $field-shadow, inset 0 0 0 50px $accent-light;
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #ACB3F2;
  }

  @include input-placeholder {
    font-family: $main-font;
    font-size: 14px;
    color: $text-gray;
    font-weight: 400;
  }
}
