@import "./../../scss/base/_variables";

.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background: $avatar-gradient;
  box-shadow: $avatar-shadow;
  border-radius: 50%;
}


.avatar-edit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: $icon-bg;
  box-shadow: $icon-shadow;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
}

.avatar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 28px;
}