@import "./src/scss/base/variables";
@import "./src/scss/base/mixins";

.leaderboard {
  padding: 20px 50px 50px;
  background: $card-linear-gradient;
  box-shadow: $card-shadow;
  border-radius: 14px;
  width: 100%;
  max-width: 816px;
  margin: 0 auto;
}

.leaderboard__sort {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 35px;
}

.leaderboard__sort-title {
  padding-top: 14px;
  font-size: 16px;
  font-weight: 500;
}

.leaderboard__options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  
  .button {
    white-space: nowrap;
  }
}

.leaderboard__results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leaderboard__result-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.leaderboard__result-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.leaderboard__result-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.leaderboard__result-value {
  font-weight: 400;
}

@include down($mobile) {
  .leaderboard {
    padding: 20px;
  }
  .leaderboard__options .button {
    font-size: 12px;
    padding: 8px 10px;
  }
  .leaderboard__result-info {
    font-size: 14px;
  }
}
