@import "./../../scss/base/variables";

.button {
  padding: 15px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: $light;
  background: $accent-gradient;
  box-shadow: $button-shadow;
  font-weight: 500;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  outline: none;
  border: 0;
  font-family: $main-font;
  font-size: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 16px;
  }

  &:hover,
  &:active,
  &--active {
    box-shadow: none;

    &::before {
      opacity: 1;
      box-shadow: $button-pressed-shadow;
    }
  }
}

.button--alert {
  background: $alert-gradient;
}

.button--light {
  background: $accent-light;
  color: $text-dark;
}

.button--icon-r {

  img, svg, .button--icon {
    margin-left: 10px;
  }
}

.button--icon-l {
  flex-direction: row-reverse;

  img, svg, .button--icon {
    margin-right: 10px;
  }
}

.button--small {
  padding: 15px;
  font-size: 14px;
}

.button--select {
  justify-content: flex-end;
  padding-right: 16px;

  &:after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L8 8L1 1' stroke='%233B4F7D' strokeWidth='1.8' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E");
    display: block;
    position: absolute;
    width: 14px;
    height: 7px;
    top: 22px;
    right: 18px;
  }
}

.button--with-cancel {
  height: 50px;
  justify-content: space-between;
  background: $secondary-gradient;
  border: 2px solid $accent;
  border-radius: 16px;
  padding-right: 8px;
  box-shadow: none;
  cursor: default;
  
  svg {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: $delete-bg;
    box-shadow: $checkbox-shadow;
    border-radius: 12px;
    cursor: pointer;
  }

  &:hover::before {
    opacity: 0;
  }
}

.button--with-cancel[disabled] {
  background: $secondary-gradient;
}

.button--square {
  padding: 18px 20px;
}

.button--wide {
  max-width: 420px;
  width: 100%;
}

.button--winner {
  width: 320px;
  height: 50px;
}
.button--disabled, [disabled] {
  box-shadow: none;
  background: $disabled;

  &:hover {
    &::before {
      display: none;
    }

    cursor: not-allowed;
  }
}

.button--icon {
  font-size: 0;
  padding: 10px;
}
