@import "./src/scss/base/variables";

.page-navigation {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 200px;
  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: $button-shadow;
  }
}

.page-navigation__close {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  background: $light;
  border: 1px solid $text-dark;
  transition: 0.3s;

  &:hover {
    background: #e9e9e9;
  }
}

.page-navigation__item {
  width: 100%;

  &:nth-child(odd) {
    background: $accent-gradient;
    
    .page-navigation__link {
      color: $light;
    }
  }

  &:nth-child(even) {
    background: $card-light-gradient;
  }
}

.page-navigation__link {
  padding: 8px 10px;
  display: block;
  font-size: 14px;
  color: $dark;

  &:hover {
    padding-left: 15px;
  }
}
