@import 'src/scss/base/variables';
@import 'src/scss/base/mixins';

.round__result {
  text-shadow: 0 4px 12px rgba(255, 255, 255, 0.8);
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}

.round__card {
  background: $card-light;
  box-shadow: $card-shadow;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  font-family: $main-font;
  max-width: 100%;
  z-index: 3;
  position: relative;
}

.round__stage {
  position: relative;
  max-width: 420px;
  margin: 0 auto 100px;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    background: $card-light;
    box-shadow: $card-shadow;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    font-family: $main-font;
    bottom: -20px;
    left: 20px;
    height: 50px;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 80px);
    background: $card-light;
    box-shadow: $card-shadow;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    font-family: $main-font;
    bottom: -40px;
    left: 40px;
    height: 70px;
    z-index: 1;
  }
}

.round__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  max-width: 370px;

  .button {
    flex-grow: 1;
    max-width: 180px;
  }
}
