@import "./../../scss/base/_variables";

.login {
    width: 100%;
    max-width: 420px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 26px;
}

.login__input {
    width: 100%;
    background: $accent-light;
    box-shadow: $field-shadow;
    border: none;
    border-radius: 16px;
    padding: 16.5px 20px;
    margin-bottom: 28px;

    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: $text-gray;

    &::placeholder {
        font-family: $main-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: $text-gray;
    }

}

.login__button {
    font-family: $main-font;
    width: 100%;
    box-shadow: $button-shadow;
    border: none;
    border-radius: 16px;
    padding: 16.5px 20px;
    margin-bottom: 28px;
    cursor: pointer;
}

.login__butto_main {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background: $accent-gradient;
    color: $light;

    &:hover{
        box-shadow: $button-shadow-hover;
    }
}

.login__butto_default {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: $secondary-gradient;
    color: $text-dark;

    &:hover{
        box-shadow: $button-shadow-hover;
    }
}