@import './../../scss/base/variables';
@import './../../scss/base/mixins';

.forum {
  width: 800px !important;
  max-width: 100%;
  margin: 0 auto;
}

.forum__comments {
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid $light;
  padding-top: 20px;
  margin-bottom: 100px;
}

.forum .forum-body {
  margin-bottom: 100px;
}

.forum__footer {
  position: fixed;
  left: 30px;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 10px 50px 10px #d7e0fe;
  border-radius: 16px;
}

@include down($mobile) {
  .forum .forum-body {
    margin-bottom: 50px;
  }
}
