@import './../../scss/base/variables';
@import './../../scss/base/mixins';

.team-cards {
  display: flex;
  flex-direction: column;
  width: calc(100% + 80px);
  margin: 40px -40px -40px;
}

.team-cards__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $text-secondary;
  line-height: 1.3;
  margin: 0 auto 20px;
}

.team-cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 10px;
  border-top: 1px solid $accent;
  transition: 0.3s;
  cursor: pointer;
  line-height: 1.2;
  position: relative;

  &:hover {
    box-shadow: $card-hover-shadow;
  }
}

.team-cards__item--slim {
  padding: 16px 10px;
}

.team-cards__item--slim .team-cards__item-title {
  margin-bottom: 0;
}

.team-cards__item-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
}

.team-cards__item-desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.team-cards__item-labels {
  display: flex;
  gap: 5px;
}

.team-cards__item-label {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 5px;
  background: $disabled;
  color: $light;

  &--victories {
    background: $easy;
  }
}

.team-cards__item-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 12px;
  
  &:before {
    border-radius: 12px;
    box-shadow: $button-pressed-shadow-light;
  }
}

@include down($mobile) {
  .team-cards {
    width: calc(100% + 40px);
    margin: 0 -20px -20px;
    
    .modal__form + & {
      margin-top: 30px;
    }
  }
  .team-cards__title {
    margin: 0 10px 10px;
  }
  .team-cards__item-title {
    font-size: 14px;
  }
  .team-cards__item-delete {
    width: 30px;
  }
}
