@import './../../scss/base/variables';
@import './../../scss/base/_mixins';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.not-found__title {
  font-family: $main-font;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 6px;
  color: $text-dark;
}

.not-found__desc {
  font-family: $main-font;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 60px;
  color: $text-error;
}

.not-found__image-wrap {
  max-width: 300px;
  margin-bottom: 50px;
  border-radius: 50%;
  box-shadow: $logo-round-shadow;
}

.not-found__subtitle {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: $info;
  text-shadow: $info-title-shadow;
  margin-bottom: 12px;
}

.not-found__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: $text-dark;
}

.not-found__text--link {
  border-bottom: 1px solid;

  &:hover {
    opacity: 0.7;
  }
}

@include down($mobile) {
  .intro__image-wrap {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
  }
  .not-found__subtitle {
    margin-bottom: 10px;
  }
  .not-found__text {
    max-width: 184px;
  }
}
