@import "./../../scss/base/variables";

.comment-field {
  display: flex;
  position: relative;
  
  input {
    padding-left: 60px;
    background: $card-light;
    box-shadow:
      -3px -3px 4px 0px rgb(255 255 255 / 15%) inset,
      3px 3px 4px 0px rgb(0 0 0 / 10%) inset,
      inset 0 0 0 50px #e1e1ff;
  }
}

.comment-field__sticker-btn,
.comment-field__send-btn {
  background: $card-light;
  border-radius: 12px;
  border: 0;
  box-shadow: $button-shadow;
  position: absolute;
  top: 9px;
  z-index: 2;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  svg {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 12px;
  }

  &:hover,
  &:active,
  &--active {
    box-shadow: none;

    &::before {
      opacity: 1;
      box-shadow: $button-pressed-shadow;
    }
  }
}

.comment-field__sticker-btn {
  left: 9px;
}

.comment-field__send-btn {
  right: 9px;
}
