@import './../../scss/base/variables';
@import './../../scss/base/mixins';

.comment {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.comment__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  margin-bottom: 16px;
}

.comment__date {
  font-size: 12px;
}

.comment__text {
  font-size: 14px;
  margin-bottom: 12px;
  max-width: calc(100% - 200px);
  line-height: 1.3;
}

.comment__actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
  padding-bottom: 16px;
  border-bottom: 1px solid $light;
}

.comment__likes {
  display: flex;
  justify-content: flex-start;
  min-width: 60px;
}

.comment__like-icon {
  width: 20px;
  height: 20px;
  background: url('@/assets/images/heart.svg') center / contain no-repeat;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &--liked {
    background-image: url('@/assets/images/heart-full.svg');
  }
}

.comment__replies {
  margin-top: 20px;
}

.comment__replies .comment {
  padding-right: 0;
  padding-left: 40px;
}

.comment__likes-count {
  font-weight: 600;
}

.comment__links {
  display: flex;
  gap: 14px;
}

.comment__link {
  font-size: 14px;
  background: 0;
  border: 0;
  color: $text-dark;
  font-weight: 600;
  font-family: $main-font;
  border-bottom: 1px solid;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &--alert {
    color: $alert;
  }
}

.comment__form {
  flex-grow: 1;
}

.comment__sticker-image {
  max-height: 300px;
}

@include down($mobile) {
  .comment__text {
    max-width: 100%;
  }
}
