@import "./variables";
@import "./mixins";

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 40px;
  gap: 35px;

  header {
    width: 100%;
  }
  
  main {
    width: 100%;
    text-align: center;
    flex-grow: 1;
  }
}

@include down($mobile) {
  .app {
    padding: 20px;
  }
}
