// Стили для IE
@mixin ie11() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

// Кроссбраузерная стилизация placeholder
@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

// Миксины медиавыражений
// @include up(768px) = @media (min-width: 768x)
@mixin up($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}


// @include down(768px) = @media (max-width: 768x)
@mixin down($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

// Кастомный скроллбар
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1f1f23;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $accent;
  }
}
