@import "./../../scss/base/variables";

.timer--line {
  width: 320px;
  height: 11px;
  position: relative;
  overflow: visible;
  background-color: #ddd;
  margin: 100px auto;
  border-radius: 20px;
  color: $text-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
.timer--value {
  z-index: 99;
}

.timer--indicator {
  position: absolute;
  left: 0%;
  top: 1px;
  height: 9px;
  background: $timer-gradient;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 1;
}
