@import './../../scss/base/variables';
@import './../../scss/base/mixins';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  &--open {
    z-index: 2;

    .modal__overlay {
      opacity: 1;
      visibility: visible;
    }
    .modal__body {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }
  
  &--no-close {
    .modal__close {
      display: none;
    }
  }
}

.modal__overlay {
  background: rgba(33, 43, 121, 0.6);
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.modal__body {
  width: 90%;
  max-width: 420px;
  max-height: 90vh;
  padding: 40px;
  background: $accent-background;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border-radius: 12px;
  position: relative;
  transform: translateY(-15px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
  @include scrollbar;
}

.modal__title {
  margin-bottom: 25px;
  text-align: center;
  padding: 0 25px;
  line-height: 1.2;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('@/assets/images/cross-icon.svg') center / 24px no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 28px;
}


@include down($mobile) {
  .modal__title {
    text-align: left;
    padding-left: 0;
    padding-right: 15px;
  }
  
  .modal__body {
    padding: 20px;
  }
}
