@import "./../../scss/base/variables";

.form {
  min-width: 420px;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  display: block;
}

.form__section-title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 0;
}

.form__section-subtitle {
  display: block;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -12px;
}

.form__attention {
  font-size: 23px;
  font-weight: 700;
}

.form__fields,
.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__buttons {
  margin-top: 28px;
}

.form__buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
