@import './../../scss/base/variables';
@import './../../scss/base/mixins';

.form {
  min-width: 420px;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  display: block;
}

.form__section-title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 0;
}

.form__section-subtitle {
  display: block;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -12px;
}

.form__attention {
  font-size: 26px;
  font-weight: 700;
}

.form__fields,
.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__buttons {
  margin-top: 28px;
}

.form__buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;

  .button {
    white-space: nowrap;
  }
}

.form__fields--center {
  align-items: center;
}

.form__cancel-field {
  border-radius: 16px;
  box-shadow: $field-shadow;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid $accent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__cancel-field-text {
  text-align: left;
  line-height: 1.2;
}

.form__cancel-btn {
  box-shadow: $icon-shadow;
  background: $icon-bg;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  &:hover {
    background: rgba(255,255,255,0.3);
  }
}

@include down($mobile) {
  .form {
    min-width: 100%;
    max-width: 100%;
  }
}
