@import "./../../scss/base/variables";

.checkbox {
  cursor: pointer;
}

.checkbox__input + .checkbox__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid white;
    margin-right: 14px;
    box-shadow: $checkbox-shadow;
    border-radius: 6px;
    background: $checkbox-gradient center no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5716 1.57141L5.28585 7.85713L2.42871 4.99998' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 0;
    transition: 0.2s;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  border-radius: 6px;
  background-size: 14px;
  background-color: #A4B0FF;
}
