@import "./../../scss/base/variables";

.form-field {
  position: relative;
}

.form-field--error {
  .field {
    border: 1px solid $alert;
  }

  &.form-field--error {
    .field {
      border: 1px solid $alert;
    }

    .form-field__info {
      color: $alert;
    }
  }
}

.form-field__info {
  padding: 0 15px;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 500;
  line-height: 1.25;
  display: block;
  position: relative;
  text-align: left;

  &:not(:empty) {
    margin-bottom: -15px;
    top: -2px;
  }
}

.form__fields--center {
  align-items: center;
}

.flat-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $text-secondary;
  border-top: $border-secondary;
  border-bottom: $border-secondary;
  box-sizing: border-box;
  margin-top: 24px;
}

.flat-field--noborder {
  height: 24px;
  border-top: none;
  border-bottom: none;
  margin-top: 0px;
}

.flat-field span {
  padding: 0px 6px;
}