@import "./src/scss/base/variables";
@import "./src/scss/base/_mixins";

.buttons-navigation {
  max-width: 420px;
  margin: 0 auto;
}

.buttons-navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.buttons-navigation__item {
  min-width: calc(50% - 7.5px);
  
  &--big {
    width: 100%;
  }
}

.buttons-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: $card-light-gradient;
  box-shadow: $menu-item-shadow;
  min-height: 130px;
  width: 100%;
  position: relative;
  font-size: 20px;
  color: $text-dark;
  font-weight: 600;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 30px;
  }
  
  &:hover, &:focus, &:active {
    box-shadow: none;

    &::before {
      opacity: 1;
      box-shadow: $menu-item-pressed-shadow;
    }
  }
  
  &--rocket {
    background: url('./src/assets/images/rocket-linear-icon.svg') center / 80px 80px no-repeat;
  }

  &--profile {
    background: url('./src/assets/images/user-linear-icon.svg') center / 80px 80px no-repeat;
  }

  &--rules {
    background: url('./src/assets/images/paper-linear-icon.svg') center / 80px 80px no-repeat;
  }

  &--forum {
    background: url('./src/assets/images/chat-linear-icon.svg') center / 80px 80px no-repeat;
  }

  &--leaders {
    background: url('./src/assets/images/chart-linear-icon.svg') center / 80px 80px no-repeat;
  }
}

@include down($mobile) {
  .buttons-navigation__link {
    min-height: 120px;
  }
}
